<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="javafxmlcategory"
            name="JavaFXML Package">
      </category>
      <wizard
            canFinishEarly="false"
            category="javafxmlcategory"
            class="javafxmlpackage.wizards.PackageWizard"
            icon="icons/sample.gif"
            id="javafxmlpackage.wizards.PackageWizard"
            name="Uusi JavaFXML Package"
            project="false">
      </wizard>
   </extension>
</plugin>
